* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
body {
  font-family: "Karla", sans-serif;
  background-color: $primary-grey;
}
  
::-webkit-scrollbar {
  background: $primary-color-highlight;
}
  
input {
  // width: 100%;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: transparent;

  border: 1px solid rgba(#888, 0.4);
  color: #bbb;

  &:-webkit-autofill {
    border: 1px solid rgba(#888, 0.2);
    box-shadow: 0 0 0px 1000px #242424 inset;
    -webkit-text-fill-color: #bbb;
  }
}